<section class="talk" id="contact">
    <h3>Let's talk</h3>
    <p>We’d love to hear about your project, no matter what stage you’re at.</p>
    <form action="#">
        <div class="form-input">
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="form-input">
            <input type="email" name="email" placeholder="Email">
            <!-- <span>Email doens’t exist</span> -->
        </div>
        <div class="form-input">
            <textarea maxlength="300" placeholder="Your message ..."></textarea>
            <span class="counter"></span>
        </div>
        <div class="send">
            <input type="submit" value="Send">
        </div>
    </form>
</section>


<section class="address">
    <h3>ADDRESS</h3>
    <p>
        36 Keri St, Yerevan 0033
    </p>
    <div class="map-container">
        <div class="wrapper">
            <img src="{{ site.baseurl }}/assets/images/map.svg" alt="">
            <button id="directions">Get Directions</button>
        </div>
    </div>
</section>