<footer>
    <div class="container">
        <div class="logo">
            <img src="{{ site.baseurl }}/assets/images/cretrix.svg" />
        </div>
        <div class="details">
            <div>
                <h3>Phone</h3>
                <p>+374-11-888-899 </p>
            </div>
            <div>
                <h3>Email</h3>
                <p>info@cretrix.net</p>
            </div>
            <div>
                <h3>Mail</h3>
                <p>info@cretrix.net</p>
            </div>
        </div>
        <div class="contact">
            <div>
                <a href="https://www.facebook.com/cretrixllc/">
                    <img src="{{site.baseurl}}/assets/images/facebook.svg" alt="">
                </a>
            </div>
            <div>
                <a href="https://am.linkedin.com/company/cretrix">
                    <img src="{{site.baseurl}}/assets/images/linkedin.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>