---
---

// Imports

@font-face {
    font-family: "SF Pro Display";
    src: local("SF Pro"), url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display Light";
    src: local("SF Pro"), url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display Medium";
    src: local("SF Pro"), url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: local("SF Pro"), url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: local("SF Pro"), url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #1a1a1c;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 9.3rem;

    .menu {
        display: flex;
        gap: 3rem;

        h3 {
            cursor: pointer;
            font-weight: 500;
            font-size: 20px;
            line-height: 16px;
        }
    }
}

section h3:first-of-type {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #1a1a1c;
    text-transform: uppercase;
    text-align: center;
}

.site-header {
    padding: 3.25rem 9.3rem 0;
    .container {
        background: #f0f0f5;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content {
            padding-left: 6rem;
            color: #1a1a1c;
            h1 {
                font-size: 40px;
                line-height: 44px;
                font-family: "SF Pro Display Semibold";
            }
            p {
                max-width: 400px;
            }
            p:first-of-type {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }
            button {
                margin-top: 1.5rem;
                font-size: 18px;
                line-height: 21px;
                padding: 14px 52px;
                border: none;
                outline: none;
                background: #ffffff;
                border-radius: 16px;
                cursor: pointer;
                box-shadow: 0px 2px 148px -2px rgba(24, 39, 75, 0.12), 0px 2px 2px -2px rgba(24, 39, 75, 0.08);
                font-family: "SF Pro Display Medium";
                transition: 0.4s ease;

                &:hover {
                    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & > div {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.services {
    padding-top:5rem;
    padding-left: 9.3rem;
    padding-right: 9.3rem;

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.5rem;
        margin-top: 4rem;

        .item {
            padding: 2.6rem;
            background: #f0f0f5;
            transition: 0.4s ease;

            &:hover {
                box-shadow: 0px 2px 8px -2px rgba(24, 39, 75, 0.12), 0px 2px 2px -2px #18274b;
            }

            h4 {
                font-family: "SF Pro Display Semibold";
                font-size: 20px;
                line-height: 24px;
            }
            p {
                margin-top: 1rem;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

.projects {
    padding-top:5rem;
    width: 100%;
    .container {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;

        .item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .content {
                background: #f0f0f5;
                padding: 3rem;

                h4 {
                    font-size: 20px;
                    line-height: 24px;
                    font-family: "SF Pro Display Semibold";

                    a {
                        text-decoration: none;
                        color: #1a1a1c;
                    }
                }
                p {
                    max-width: 300px;
                    margin-top: 1rem;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.03em;
                    color: #838388;
                }
            }
            .image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .item:nth-child(2),
        .item:nth-child(4) {
            .content {
                grid-area: 1 / 2 / 1 / 3;
            }
            .image {
                grid-area: 1 / 1 / auto / 1;
            }
        }
    }
}

.team {
    padding-top:5rem;

    .container {
        width: 100%;
        display: flex;
        margin-top: 4rem;
        justify-content: center;
        gap: 1.5rem;
    }

    .paragraph {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        p {
            max-width: 800px;
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: #838388;
        }
    }
}

.talk {
    padding-top:5rem;
    color: #1a1a1c;
    p {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        margin-top: 1rem;
    }
    form {
        display: flex;
        justify-content: center;
        max-width: 560px;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem auto;
        .form-input {
            width: 100%;
            input {
                outline: none;
                border: none;
                border-bottom: 2px solid #f0f0f5;
                padding: 1rem;
                width: 100%;
                background-color: #fff;
                transition: 0.4s ease;
                &:hover {
                    border-bottom: 2px solid #838388;
                }

                &::placeholder {
                    font-size: 16px;
                    line-height: 19px;
                    color: #838388;
                    font-family: "SF Pro Display Light";
                }
                &:focus {
                    border-bottom: 2px solid #3caeed;
                }
                & + span {
                    display: none;
                }
                &:invalid {
                    border-bottom: 2px solid #e33b39;
                    // & + span {
                    //     display: inline;
                    // }
                }
            }
        }
        .send {
            width: 100%;
            display: flex;
            justify-content: end;

            input[type="submit"] {
                margin-top: 3.5rem;
                padding: 1rem 4rem;
                background: #1a1a1c;
                border-radius: 8px;
                color: #fff;
                font-size: 18px;
                line-height: 20px;
                border: none;
                outline: none;
                font-family: "SF Pro Display Medium";
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
                }
            }
        }
    }
}

.address {
    padding-top:5rem;

    p:first-of-type {
        text-align: center;
        margin-top: 1rem;
    }

    .map-container {
        margin: 2.5rem auto 6rem;
        display: flex;
        justify-content: center;
        max-width: 800px;

        .wrapper {
            position: relative;
        }
        img {
            max-width: 100%;
            height: auto;
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 14px 22px;
            box-shadow: 0px 2px 148px -2px rgba(24, 39, 75, 0.12), 0px 2px 2px -2px rgba(24, 39, 75, 0.08);
            border: none;
            outline: none;
            background: #ffffff;
            border-radius: 8px;
            font-size: 18px;
            line-height: 20px;
            cursor: pointer;
            font-family: "SF Pro Display Semibold";

            &:hover {
                box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
            }
        }
    }
}

footer {
    padding: 25px 150px;
    background: #1a1a1c;

    .container {
        display: flex;
        justify-content: space-between;
        color: #fff;

        .details {
            display: flex;
            align-items: center;
            gap: 5rem;

            & > div {
                h3 {
                    font-family: "SF Pro Display Semibold";
                    font-size: 18px;
                    line-height: 16px;
                }
                p {
                    margin-top: 1rem;
                    font-size: 16px;
                    line-height: 16px;
                    font-family: "SF Pro Display Medium";
                }
            }
        }

        .contact {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            & > div {
                cursor: pointer;
            }
        }
    }
}
