@media screen and (min-width: 1800px) {
    .site-header {
        .container {
            .content {
                padding: 220px 97px;
                p {
                    max-width: 70%;
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .site-header {
        .container {
            flex-direction: column;
            background: none;
            .content {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .services {
        .container {
            flex-direction: column;
        }
    }
    .page-header {
        .bottom {
            flex-direction: column;
            align-items: start !important;
            gap: 10px;
        }
    }
}
@media screen and (max-width: 980px) {
    footer {
        .container {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            .details {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    .designs {
        .desktop-sitespecs {
            display: none;
        }
    }
    .other-projects {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media screen and (max-width: 850px) {
    .projects {
        .container {
            .item {
                grid-template-columns: repeat(1, 1fr);
                .content {
                    padding: 1.5rem;

                    p {
                        line-height: 22px;
                    }
                }
            }

            .item:nth-child(even) {
                .content {
                    grid-area: auto;
                }
            }
            .item:nth-child(odd) {
                .content {
                    grid-area: auto;
                }
                .image {
                    grid-area: 1 / 1 / auto / 1;
                }
            }
        }
    }
    .team {
        .paragraph {
            margin: 3rem auto;
            max-width: 485px;
        }
    }
    .services {
        .container {
            .item {
                padding: 1.5rem;
            }
        }
    }
    .designs {
        .mobile-container,
        .desktop-ams {
            flex-direction: column;
            align-items: center;
            background: none;
            padding-top: 0;
            margin-top: 0;
            .mobile-img,
            .desktop-img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f0f0f5;
                padding: 2.5rem 0;
                img {
                    width: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    nav {
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 1.5rem;
    }
    .site-header {
        padding: 3.25rem 1.5rem;
    }
    .map-container {
        padding: 1rem;
    }
    .page-section {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .team {
        .paragraph {
            padding: 1.5rem;
            margin: 0rem auto;
        }
    }
    .talk {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        form {
            .send {
                justify-content: center;
            }
        }
    }
    .address {
        .map-container {
            img {
                object-fit: cover;
                height: 300px;
            }
        }
    }
    .services,
    .projects {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .site-header {
        padding: 2.25rem 1.5rem;

        .container {
            .content {
                padding: 2.5rem 1.5rem;

                button {
                    margin-top: 1rem;
                }

                h1 {
                    font-size: 32px;
                    line-height: 32px;
                }
                p {
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.07em;
                }
            }
        }
    }
    nav {
        padding: 3rem 1.5rem 0rem;
        .menu {
            gap: 2.2rem;

            h3 {
                font-size: 19px;
            }
        }
    }
    footer .details {
        div:first-child p {
            white-space: nowrap;
        }
    }
    .talk p {
        line-height: 22px;
        letter-spacing: 0.02em;
    }
    .page-section:first-of-type {
        padding-top: 3rem;
    }
}
