<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}
    {% assign id = page.url | remove: ".html" | remove: "/" %}
    {% for item in site.data.content %}
    {% if item.id == id %}
    <section class="page-header page-section">
        <div class="container">
            <div class="skeleton hero-skeleton hero-img">
                <img data-src="{{item.heroimg}}" src="{{item.heroimg}}" />
            </div>
            <div class="bottom paragraph-skeleton">
                <div>
                    <div class="skeleton icon-skeleton">
                        <img data-src="{{item.icon}}" src="{{item.icon}}" />
                    </div>
                    <div class="skeleton-heading">
                        <h3 data-text="{{item.herotitle}}">{{item.herotitle}}</h3>
                    </div>
                </div>
                <div class="skeleton-desc">
                    <p data-text="{{item.description}}">{{item.description}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-services page-section" id="services">
        <h3>Services</h3>
        <ul>
            {% for element in item.services %}
            <li>{{element.title}}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="page-details page-section">
        <h3>Details</h3>
        <p>{{ item.details }}</p>
    </section>
    <section class="designs page-section">
        <h3>Designs</h3>
        {% if id == "origin-reports" or id == "miestro" %}
        {% for image in item.design.images %}
        <div class="{{id}}-container">
            <div class="skeleton unique-skeleton wrapper">
                <img data-src="{{image.img}}" src="{{image.img}}" />
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="mobile-container mobile-{{id}}">
            {% for mobile in item.design.mobile %}
            <div class="mobile-img skeleton mobile-skeleton mobile-img-{{id}}">
                <img data-src="{{ mobile.img }}" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="desktop-container desktop-{{ id }}">
            {% for desktop in item.design.desktop %}
            <div class="desktop-img {{id}}-skeleton skeleton">
                <img data-src="{{ desktop.img }}" alt="">
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>

    <section class="other-projects page-section" id="projects">
        <h3>See other projects</h3>
        <div class="container">
            {% for el in item.other %}
            <div class="item">
                <div class="wrapper">
                    <a href="{{ site.baseurl }}{{ el.link }}">
                        <img src="{{el.img}}" />
                    </a>
                </div>
                <a href="{{ site.baseurl }}{{ el.link }}">
                    View project
                    <img src="assets/images/arrow.svg" />
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% endfor %}

    {{content}}
    {% include contact.html %}
    {% include footer.html %}
</body>

</html>