@keyframes animate {
    from {
        transform: rotateX(20deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes loader {
    from {
        background-position: -100% 0;
    }
    to {
        background-position: 100% 0;
    }
}


.page-section {
    padding-left: 9rem;
    padding-right: 9rem;
    color: #1a1a1c;
    &:not(:first-of-type) {
        padding-top: 4rem;
        h3:first-of-type {
            margin-bottom: 2.5rem;
            font-family: "SF Pro Display Bold";
        }
    }
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
        h3 {
            text-align: left;
        }
    }
}
.skeleton {
    box-sizing: border-box;
    border-radius: 35px;
    border: 2px solid #cbcbd9;
    background: linear-gradient(90deg, hsl(210, 15%, 88%), hsl(210, 15%, 95%), hsl(210, 15%, 88%));
    background-size: 200%;
    animation: loader 1s infinite reverse;
}

.page-header {
    .container {
        display: grid;
        .hero-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .hero-skeleton {
            width: 100%;
            height: 60vh;
            border-radius: 0;
        }
        .icon-skeleton {
            width: 50px;
            height: 50px;
        }

        .bottom {
            background: #f3f3f3;
            display: flex;
            justify-content: space-between;
            padding: 30px 80px;
            align-items: center;
            div:first-of-type {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                p {
                    font-size: 16px;
                    line-height: 19px;
                }
                h3 {
                    font-size: 32px;
                    font-family: "SF Pro Display Semibold";
                    line-height: 38px;
                    color: #1a1a1c;
                    text-transform: none;
                }
            }
        }
    }
}

.page-services {
    ul {
        padding-left: 2rem;
        li {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.05em;
            font-family: "SF Pro Display Medium";
        }
        li:not(:first-of-type) {
            padding-top: 2rem;
        }
    }
}

.page-details {
    p:first-of-type {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.01em;
        max-width: 950px;
    }
}

.animate {
    animation: animate 1s ease;
}

.designs {
    .desktop-container {
        margin-top: 1.5rem;
    }
    .origin-reports-container,
    .miestro-container {
        margin: 2.5rem 0;
    }
    .mobile-container,
    .desktop-container,
    .origin-reports-container,
    .miestro-container {
        display: flex;
        background: #f0f0f5;
        justify-content: center;
        padding: 2.5rem 0;
        gap: 3rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .mobile-skeleton,
    .ams-skeleton {
        width: 231px;
        height: 468px;
    }
    .unique-skeleton,
    .sitespecs-skeleton {
        width: 786px;
        height: 453px;
    }
}

.other-projects {
    .container {
        width: 100%;
        gap: 2.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .item {
            display: flex;
            flex-direction: column;
            width: 100%;
            cursor: pointer;
            transition: 0.4s ease;
            &:hover {
                transform: scale(1.1);
            }
            .wrapper {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            a:nth-child(2) {
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                background: #f0f0f5;
                font-size: 20px;
                line-height: 24px;
                text-decoration: none;
                color: #1a1a1c;
            }
        }
    }
}
