section h3:first-of-type {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #1a1a1c;
    text-transform: uppercase;
    text-align: center;
}

.site-header {
    padding: 3.25rem 9.3rem 0;
    .container {
        display: flex;
        .content {
            background: #f0f0f5;
            padding: 182px 98px;
            width: 70%;
            color: #1a1a1c;
            h1 {
                font-size: 40px;
                line-height: 44px;
                font-family: "SF Pro Display Semibold";
            }
            p {
                max-width: 400px;
                font-size: 18px;
                line-height: 22px;
            }
            p:first-of-type {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }
            button {
                margin-top: 1.5rem;
                font-size: 18px;
                line-height: 21px;
                padding: 14px 52px;
                border: none;
                outline: none;
                background: #ffffff;
                border-radius: 16px;
                cursor: pointer;
                box-shadow: 0px 2px 148px -2px rgba(24, 39, 75, 0.12), 0px 2px 2px -2px rgba(24, 39, 75, 0.08);
                font-family: "SF Pro Display Medium";
                transition: 0.4s ease;

                &:hover {
                    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & > div {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.services {
    padding-top: 5rem;
    padding-left: 9.3rem;
    padding-right: 9.3rem;

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.5rem;
        margin-top: 4rem;

        .item {
            padding: 2.6rem;
            background: #f0f0f5;
            transition: 0.4s ease;

            &:hover {
                box-shadow: 0px 2px 8px -2px rgba(24, 39, 75, 0.12), 0px 2px 2px -2px #18274b;
            }

            h4 {
                font-family: "SF Pro Display Semibold";
                font-size: 20px;
                line-height: 24px;
            }
            p {
                margin-top: 1rem;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

.projects {
    padding-top: 5rem;
    width: 100%;
    .container {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;

        .item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .content {
                background: #f0f0f5;
                padding: 3rem;

                h4 {
                    font-size: 20px;
                    line-height: 24px;
                    font-family: "SF Pro Display Semibold";

                    a {
                        text-decoration: none;
                        color: #1a1a1c;
                        transition: 0.4s ease;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                p {
                    max-width: 300px;
                    margin-top: 1rem;
                    letter-spacing: 0.03em;
                    color: #838388;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            .image {
                transition: 0.5s ease;
                &:hover {
                    transform: scale(1.1);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .item:nth-child(even) {
            .content {
                grid-area: 1 / 2 / 1 / 3;
            }
            .image {
                grid-area: 1 / 1 / auto / 1;
            }
        }
    }
}

.team {
    padding-top: 5rem;

    .paragraph {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        p {
            max-width: 800px;
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: #838388;
        }
    }
}

.talk {
    padding-top: 5rem;
    color: #1a1a1c;
    p {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        margin-top: 1rem;
    }
    form {
        display: flex;
        justify-content: center;
        max-width: 560px;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem auto;
        .form-input {
            width: 100%;
            .counter {
                float: right;
                margin-top: 0.5rem;
            }
            input,
            textarea {
                outline: none;
                border: none;
                border-bottom: 2px solid #f0f0f5;
                padding: 1rem;
                width: 100%;
                background-color: #fff;
                transition: 0.4s ease;
                &:hover {
                    border-bottom: 2px solid #838388;
                }

                &::placeholder {
                    font-size: 16px;
                    line-height: 19px;
                    color: #838388;
                    font-family: "SF Pro Display Light";
                }
                &:focus {
                    border-bottom: 2px solid #3caeed;
                }
            }
            input {
                // & + span {
                //     display: none;
                // }
                &:invalid {
                    border-bottom: 2px solid #e33b39;
                    // & + span {
                    //     display: inline;
                    // }
                }
            }
        }
        .send {
            width: 100%;
            display: flex;
            justify-content: end;

            input[type="submit"] {
                margin-top: 3.5rem;
                padding: 1rem 4rem;
                background: #1a1a1c;
                border-radius: 8px;
                color: #fff;
                font-size: 18px;
                line-height: 20px;
                border: none;
                outline: none;
                font-family: "SF Pro Display Medium";
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
                }
            }
        }
    }
}

.address {
    padding-top: 5rem;

    p:first-of-type {
        text-align: center;
        margin-top: 1rem;
    }

    .map-container {
        margin: 2.5rem auto 6rem;
        display: flex;
        justify-content: center;
        max-width: 800px;

        .wrapper {
            position: relative;
        }
        img {
            max-width: 100%;
            height: auto;
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 14px 22px;
            box-shadow: 0px 2px 148px -2px rgba(24, 39, 75, 0.12), 0px 2px 2px -2px rgba(24, 39, 75, 0.08);
            border: none;
            outline: none;
            background: #ffffff;
            border-radius: 8px;
            font-size: 18px;
            line-height: 20px;
            cursor: pointer;
            font-family: "SF Pro Display Semibold";

            &:hover {
                box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
            }
        }
    }
}
